<header class="header">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-between align-items-center">
                    <div>Currency Converter</div>
                    <div class="d-flex">
                        <div class="me-2">USD: {{ currencyUsd }}</div>
                        <div>EUR: {{ currencyEur }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>